:root {
  --button-color: #295f6b;
  --background-header: #dfeff0;
}

h1 {
  font-size: 65px;
  font-family: "Merriweather", serif;
  font-weight: bold;
}
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
h4 {
  font-size: 40px;
}
p {
  font-family: "Raleway", sans-serif;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 40px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #4ba4aa;
}

footer {
  margin: 50px 0;
}
footer .contact-box {
  background-color: var(--background-header);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
footer .email-link {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  transition: 150ms;
}

footer .email-link:hover {
  color: var(--button-color);
  font-size: 28px;
}
.logo {
  max-width: 150px;
}
.hero {
  background: var(--background-header);
  padding: 160px;
  text-align: center;
}

.hero h2 {
  font-weight: bold;
}

.btn-primary {
  background: var(--button-color);
  border-radius: 10px;
  border: none;
  padding: 20px 20px;
  font-weight: bold;
}
.btn-primary:hover {
  background: #0e4552;
  color: white;
}
.project-description {
  padding: 10px;
  text-align: center;
}
.content {
  padding: 120px;
}

.content h1 {
  font-size: 50px;
}

.content h2 {
  font-size: 30px;
}

.social-media a {
  text-decoration: none;
  font-size: 30px;

  text-align: justify;
  margin: 0 20px;
  color: var(--button-color);
  background: #d6eaee;
  padding: 10px 18px;
  border-radius: 50%;
  transition: 150ms;
}
.social-media a:hover {
  color: #d6eaee;
  background: var(--button-color);
}
@media (max-width: 560px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 20px;
  }
  .hero {
    text-align: center;
    padding: 40px;
  }
  .content {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem;
  }
  .content h1 {
    font-size: 35px;
  }
  .content h2 {
    font-size: 20px;
  }
  .content p {
    padding: 5px;
    font-size: 15px;
  }
  .btn-primary {
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .social-media a {
    font-size: 20px;
  }
  footer .contact-box {
    padding: 20px;
  }
}
