:root {
  --button-color: #13f0cb;
  --background-header: #dfeff0;
}

.first-color {
  background: #c2faf1;
}

.second-color {
  background: #f6f6f6;
}

.third-color {
  background: #dfeff0;
}

.fourth-color {
  background: #295e6a;
}

h1 {
  font-size: 65px;
  font-family: "Merriweather", serif;
}
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Raleway", sans-serif;
}

.hero {
  background: var(--background-header);
  padding: 160px;
  text-align: center;
}

.hero h2 {
  font-weight: bold;
}

.btn-primary {
  background: var(--button-color);
  border-radius: 4px;
  border: none;
  padding: 30px 20px;
  font-weight: bold;
}
.project-description {
  padding: 10px;
  text-align: center;
}
.about-section {
  padding: 120px;
}

.about-section h1 {
  font-size: 50px;
}

.about-section h2 {
  font-size: 30px;
}
@media (max-width: 560px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 19px;
  }
  .hero {
    text-align: center;
    padding: 40px;
  }
  .about-section {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem;
  }
  .about-section h1 {
    font-size: 35px;
  }
  .about-section h2 {
    font-size: 20px;
  }
  .about-section p {
    padding: 5px;
    font-size: 15px;
  }
}
