:root {
  --button-color: #13f0cb;
  --background-header: #dfeff0;
}

h1 {
  font-size: 65px;
  font-family: "Merriweather", serif;
}
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Raleway", sans-serif;
}

.hero {
  background: var(--background-header);
  padding: 160px;
  text-align: center;
}

.hero h2 {
  font-weight: bold;
}

.btn-primary {
  background: var(--button-color);
  border-radius: 4px;
  border: none;
  padding: 30px 20px;
  font-weight: bold;
}
.project-description {
  padding: 10px;
  text-align: center;
}
@media (max-width: 560px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 19px;
  }
  .hero {
    text-align: center;
    padding: 40px;
  }
}
